.time {
  background: #e6e9ff;
  border: 4px solid #000;
  border-radius: 20px;
  width: 1200px;
  margin: 0 auto 20px;
  text-align: center;
  font: 156px 'Verdana';
}

.msek {
  font: 50px 'Verdana';
}

.manage {
  margin: auto;
  width: 700px;
  text-align: center;
}

.start, .clear {
  cursor: pointer;
  font: 60px 'Verdana';
  width: 40%;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  border: 4px solid #000;
  display: inline-block;
}

.start {
  background: linear-gradient(#cafcd6, #2fd730);
}

.clear {
  background: #cc0000;
}
